* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  background-color: #f1f1f1;
}
.mv-nav-desktop {
  position: relative;
  width: 98vw;
  margin: 0 auto;
  border-radius: 4px;
  background-color: white;
  height: 64px;
  margin-top: 20px;
}
/* .mv-nav-desktop::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: white;
  left: 0;
  max-height: calc(540px);
  opacity: 0;
  transition: 0s;
}
.mv-nav-desktop:hover::after {
  opacity: 1;
  height: calc(100vw * 0.5 + 64px) !important;
} */
.mv-nav-desktop *,
.mv-nav-desktop a {
  z-index: 2;
  cursor: pointer;
  list-style: none;
  color: black;
  color: rgba(19, 20, 21, 0.3);
  font-size: calc(10vw * 0.25);
  font-family: "Anton", Arial, Helvetica, sans-serif;
}
.mv-nav-desktop,
.mv-nav-desktop ul,
.mv-nav-desktop ul li,
.mv-nav-desktop ul li a {
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 0;
}
.mv-nav-desktop > ul > li.mv-nav-left {
  float: left;
}
.mv-nav-desktop > ul > li.mv-nav-right {
  float: right;
}
.mv-nav-desktop > ul > li > a {
  padding: 18px;
  font-size: 17px;
  font-family: "Questrial";
  font-weight: 500;
  color: black;
  transition: 0.5s ease;
}
.mv-nav-desktop ul ul {
  position: absolute;
  left: -100vw;
}
.mv-nav-desktop ul ul li {
  background-color: white;
  transition: height 0.1s ease;
  opacity: 1;
}
.mv-nav-desktop li:hover > ul > li {
  height: calc(5vw + -2px);
  min-height: 66px;
  position: initial;
  opacity: 1;
  z-index: 100;
}
.mv-nav-desktop li:hover > ul {
  left: 0;
}
.mv-nav-desktop ul ul ul {
  margin-left: 100%;
  top: 0;
}
.mv-nav-desktop ul ul li {
  height: calc(5vw + -2px);
  min-height: 67px;
  /* width: 25vw; */
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  padding-left: 20px;
}
.mv-nav-desktop ul ul li::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* border-bottom: 1px solid #f1f1f1; */
}

.open-product {
  position: initial !important;
}
.motor-infor {
  width: 47vw !important;
  position: absolute !important;
  /* height: calc(40.7vw + -1px) !important;
    min-height: 67px !important;
    max-height: 460px !important; */
  height: calc(29.3vw + -1px) !important;
  min-height: 396px !important;
  max-height: 460px !important;
}
.mv-nav-desktop > ul > li {
  transform: translateY(5px);
}
.mv-nav-desktop ul ul > li > a {
  transition: all 0.2s ease;
  opacity: 1;
}
.mv-nav-desktop li:hover > ul > li > a {
  opacity: 1;
  /* animation: blurToReal 0.5s; */
}
@keyframes blurToReal {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
.mv-nav-type-layout {
  height: calc(100vw * 0.5) !important;
  max-height: 460px !important;
}
.mv-nav-item__active_default .motor-name-layout-active {
  height: calc(10vh + 1px) !important;
  opacity: 1 !important;
  z-index: 100 !important;
  left: 0 !important;
}
.mv-nav-item__active_default > a {
  color: black !important;
}
.mv-nav-item__active_default
  .motor-name-layout-active
  .motor-name-pc:first-child
  > a {
  color: black !important;
}
.mv-nav-item__active_default
  .motor-name-layout-active
  .motor-name-pc:first-child
  .motor-infor-layout {
  left: 0 !important;
}
.mv-nav-type-pc .motor-name-layout {
  position: absolute;
  height: calc(100vw * 0.5) !important;
  max-height: 460px !important;
}
.mv-nav-desktop .mv-nav-type-layout .mv-nav-type-pc:hover > a {
  color: black !important;
}
.mv-nav-desktop .mv-nav-type-pc .motor-name-layout .motor-name-pc:hover > a {
  color: black !important;
}
.mv-nav-item__active_default
  .motor-name-layout-refuse
  .motor-name-pc:first-child
  a {
  color: rgba(19, 20, 21, 0.3) !important;
}
.mv-nav-type-layout::after {
  content: "";
  width: 98vw;
  height: calc(40.7vw + -1px);
  min-height: 67px;
  max-height: 460px !important;
  background-color: aqua;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.mv-nav-type-pc {
  border-right: 2px solid #e0e0e0 !important;
}
.motor-infor {
  border-left: 2px solid #e0e0e0 !important;
}
.motor-infor,
.mv-nav-type-layout {
  border-bottom-right-radius: 4px;
}
.mv-nav-type-pc {
  width: 30vw;
}
.motor-name-pc {
  width: 21vw;
}
.mv-nav-type-pc > a {
  display: flex !important;
  width: 100%;
  height: 100%;
  position: relative !important;
  align-items: center;
}
.mv-nav-type-pc > a > img {
  position: absolute;
  right: 0;
}
.motor-infor {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.motor-infor-lt {
  width: 98%;
  height: 100%;
  /* background-color: #f1f1f1; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.motor-if-lt * {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.motor-if-lt p {
  font-size: calc(5vw * 0.25);
  font-weight: 200;
}
.motor-if-lt {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.mt-if-money {
  display: block;
}
.mt-if-money p {
  padding-top: 10px;
}
.mt-if-money span {
  display: inline-block;
}
.mt-if-tech-lt {
  display: flex;
  justify-content: flex-end;
}
.motor-if-tech {
  display: block;
  margin-left: calc(2vw * 0.9);
}
.motor-if-tech Strong {
  font-family: "Anton", Arial, Helvetica, sans-serif;
  font-size: calc(10vw * 0.25);
  font-weight: 200;
}
.motor-if-tech p {
  padding-top: 5px;
}
