* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  background-color: #f1f1f1;
}
.mv-nav-desktop {
  position: relative;
  width: 98vw;
  margin: 0 auto;
  border-radius: 4px;
  background-color: white;
  height: 64px;
  margin-top: 20px;
  border-bottom: 2px solid green;
}
.mv-nav-desktop::after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background-color: white;
  left: 0;
  max-height: calc(500px + 64px);
  opacity: 0;
  transition: 0s;
}
.mv-nav-desktop:hover::after {
  opacity: 1;
  height: calc(100vw * 0.5 + 64px) !important;
}
.mv-nav-desktop *,
.mv-nav-desktop a {
  z-index: 2;
  cursor: pointer;
  list-style: none;
  color: black;
}
.mv-nav-desktop,
.mv-nav-desktop ul,
.mv-nav-desktop ul li,
.mv-nav-desktop ul li a {
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 0;
}
/* .mv-nav-desktop::after,
.mv-nav-desktop > ul::after {
  content: "dd.";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
} */
.mv-nav-desktop > ul > li.mv-nav-left {
  float: left;
}
.mv-nav-desktop > ul > li.mv-nav-right {
  float: right;
}
.mv-nav-desktop > ul > li > a {
  padding: 18px;
  font-size: 17px;
  font-family: "Questrial";
  font-weight: 500;
  color: black;
  transition: 0.5s ease;
}
.mv-nav-desktop ul ul {
  position: absolute;
  left: -100vw;
}
.mv-nav-desktop ul ul li {
  height: 9vh;
  background-color: white;
  transition: height 0.1s ease;
  opacity: 1;
}
.mv-nav-desktop li:hover > ul > li {
  height: 9vh;
  position: initial;
  opacity: 1;
  z-index: 100;
}
.mv-nav-desktop li:hover > ul {
  left: 0;
}
.mv-nav-desktop ul ul ul {
  margin-left: 100%;
  top: 0;
}
.mv-nav-desktop ul ul li {
  width: 25vw;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.mv-nav-desktop ul ul li::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* border-bottom: 1px solid #f1f1f1; */
}

.open-product {
  position: initial !important;
}
.motor-infor {
  width: 48vw !important;
  height: calc(100vw * 0.5) !important;
  max-height: 500px !important;
  position: absolute !important;
}
.mv-nav-desktop > ul > li {
  transform: translateY(5px);
}
.mv-nav-desktop ul ul > li > a {
  transition: all 0.2s ease;
  opacity: 1;
}
.mv-nav-desktop li:hover > ul > li > a {
  opacity: 1;
  /* animation: blurToReal 0.5s; */
}
@keyframes blurToReal {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
.mv-nav-type-layout {
  height: calc(100vw * 0.5) !important;
  max-height: 500px !important;
}
.mv-nav-item__active_default .motor-name-layout-active {
  height: 9vh !important;
  opacity: 1 !important;
  z-index: 100 !important;
  left: 0 !important;
}
/* .mv-nav-item__active_default,
.mv-nav-item__active_default
  .motor-name-layout-active
  .motor-name-pc:first-child {
  background-color: aqua !important;
} */
.mv-nav-item__active_default > a {
  color: red !important;
}
.mv-nav-item__active_default
  .motor-name-layout-active
  .motor-name-pc:first-child
  > a {
  color: red !important;
}
.mv-nav-item__active_default
  .motor-name-layout-active
  .motor-name-pc:first-child
  .motor-infor-layout {
  left: 0 !important;
}
.mv-nav-type-pc .motor-name-layout {
  position: absolute;
  height: calc(100vw * 0.5) !important;
  max-height: 500px !important;
}
.motor-infor {
  top: -3vw;
}
.mv-nav-desktop .mv-nav-type-layout .mv-nav-type-pc:hover > a {
  color: red !important;
}
.mv-nav-desktop .mv-nav-type-pc .motor-name-layout .motor-name-pc:hover > a {
  color: red !important;
}
.mv-nav-item__active_default .motor-name-layout-refuse .motor-name-pc:first-child a{
  color: black !important;
}